<div class="container mx-auto flex justify-center items-center space-x-4 p-5">
    <a href="{% url 'home' %}" class="text-[25px] border-b-[2px]  border-solid hover:border-green-600 {% if request.path == '/' %}border-green-600 border-solid{% endif %}">Home</a>
    <a href="{% url 'category' %}" class="text-[25px] border-b-[2px]  border-solid hover:border-green-600 {% if request.path == '/category/' %}border-b-[2px] border-green-600 border-solid{% endif %}">Kategoriýalar</a>
    <a href="{% url 'bill' %}" class="text-[25px] border-b-[2px]  border-solid hover:border-green-600 {% if request.path == '/bill/' %}border-b-[2px] border-green-600 border-solid{% endif %}">Cek</a>
</div>
<hr>